html {
  font-size: 30px;
  font-family: 'Lobster';
  background-color: #FF5733; // reddish I guess
}

button {
  display: block;
  margin: 0 auto;
  font-family: 'Lobster';
  background-color: #FFC300;
  color: black;
  border: 2px solid black;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #DAF7A6; // light green
  padding: 0 20px 20px 20px;
  border: 5px solid #229954; // darker green
}
h1 {
  text-align: center;
  text-shadow: 3px 3px 1px black;
  font-size: 60px;
  margin: 0;
  padding: 20px 0;
  color: #FFC300; // weird yellow

}
p,li {
  line-height: 70px;
  letter-spacing: normal;
}
img {
  display: block;
  margin: 0 auto;
}
